src/main/resources/wsdl/porprojectdataservice_1_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/PORProjectData" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/dynamics/2008/01/documents/PORProjectData">
  <xs:element name="PORProjectData" type="AxdPORProjectData"/>
  <xs:complexType name="AxdPORProjectData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="AxdEnum_XMLDocPurpose"/>
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="AxdExtType_dataAreaId"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjTable" type="AxdEntity_ProjTable"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AxdEnum_XMLDocPurpose">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product:Product</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Original"/>
      <xs:enumeration value="Duplicate"/>
      <xs:enumeration value="Proforma"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_dataAreaId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Company:ID for an area of data</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_AxdEntityAction">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">AxdEntityAction:AxdEntityAction</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="create"/>
      <xs:enumeration value="update"/>
      <xs:enumeration value="replace"/>
      <xs:enumeration value="delete"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AxdEntity_ProjTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="AssetId" nillable="true" type="AxdExtType_AssetId"/>
      <xs:element minOccurs="0" name="BhnAddlInfo" nillable="true" type="AxdExtType_ProjExternalItemId"/>
      <xs:element minOccurs="0" name="CheckBudget" nillable="true" type="AxdExtType_NoYesId"/>
      <xs:element minOccurs="0" name="ContractAmendment_SA" nillable="true" type="AxdExtType_AmountCur"/>
      <xs:element minOccurs="0" name="ContractDate_SA" nillable="true" type="AxdExtType_TransDate"/>
      <xs:element minOccurs="0" name="ContractPeriod_SA" nillable="true" type="AxdExtType_ZakatContractPeriod_SA"/>
      <xs:element minOccurs="0" name="ContractValue_SA" nillable="true" type="AxdExtType_AmountCur"/>
      <xs:element minOccurs="0" name="Created" nillable="true" type="AxdExtType_TransDate"/>
      <xs:element minOccurs="0" name="CustAccount" nillable="true" type="AxdUnion_AxdExtType_CustAccount_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DeliveryCity" nillable="true" type="AxdExtType_AddressCity"/>
      <xs:element minOccurs="0" name="DeliveryStreet" nillable="true" type="AxdExtType_AddressStreet"/>
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="AxdArray_AxdExtType_Dimension"/>
      <xs:element minOccurs="0" name="DlvAddr" nillable="true" type="AxdExtType_Addressing"/>
      <xs:element minOccurs="0" name="DlvCountryRegionId" nillable="true" type="AxdUnion_AxdExtType_AddressCountryRegionId_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DlvCounty" nillable="true" type="AxdUnion_AxdExtType_AddressCountyId_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DlvName" nillable="true" type="AxdExtType_CompanyName"/>
      <xs:element minOccurs="0" name="DlvState" nillable="true" type="AxdUnion_AxdExtType_AddressStateId_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="DlvZipCode" nillable="true" type="AxdUnion_AxdExtType_AddressZipCodeId_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="Email" nillable="true" type="AxdExtType_Email"/>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="AxdExtType_ProjEndDate"/>
      <xs:element minOccurs="0" name="Format" nillable="true" type="AxdExtType_NumberSequenceFormat"/>
      <xs:element minOccurs="0" name="Header" nillable="true" type="AxdExtType_ProjHeader"/>
      <xs:element minOccurs="0" name="Name" nillable="true" type="AxdExtType_ProjName"/>
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="AxdExtType_ProjParentId"/>
      <xs:element minOccurs="0" name="ProjGroupId" nillable="true" type="AxdExtType_ProjGroupId"/>
      <xs:element minOccurs="1" name="ProjId" type="AxdExtType_ProjId"/>
      <xs:element minOccurs="0" name="ProjInvoiceProjId" nillable="true" type="AxdExtType_ProjInvoiceProjId"/>
      <xs:element minOccurs="0" name="ProjLedgerPosting" nillable="true" type="AxdEnum_ProjLedgerPosting"/>
      <xs:element minOccurs="0" name="ProjLinePropertySearch" nillable="true" type="AxdEnum_ProjLinePropertySearch"/>
      <xs:element minOccurs="0" name="ProjPriceGroup" nillable="true" type="AxdExtType_ProjPriceGroupID"/>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="AxdExtType_recId"/>
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="AxdExtType_recVersion"/>
      <xs:element minOccurs="0" name="RequireActivityExpenseForecast" nillable="true" type="AxdExtType_RequireActivityExpenseForecast"/>
      <xs:element minOccurs="0" name="RequireActivityExpenseTrx" nillable="true" type="AxdExtType_RequireActivityExpenseTrx"/>
      <xs:element minOccurs="0" name="RequireActivityHourForecast" nillable="true" type="AxdExtType_RequireActivityHourForecast"/>
      <xs:element minOccurs="0" name="RequireActivityHourTrx" nillable="true" type="AxdExtType_RequireActivityHourTrx"/>
      <xs:element minOccurs="0" name="RequireActivityItemForecast" nillable="true" type="AxdExtType_RequireActivityItemForecast"/>
      <xs:element minOccurs="0" name="RequireActivityItemTrx" nillable="true" type="AxdExtType_RequireActivityItemTrx"/>
      <xs:element minOccurs="0" name="Responsible" nillable="true" type="AxdExtType_ProjResponsible"/>
      <xs:element minOccurs="0" name="ResponsibleFinancial" nillable="true" type="AxdExtType_ProjResponsibleFinancial"/>
      <xs:element minOccurs="0" name="ResponsibleSales" nillable="true" type="AxdExtType_ProjResponsibleSales"/>
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="AxdExtType_ProjStartDate"/>
      <xs:element minOccurs="0" name="Status" nillable="true" type="AxdEnum_ProjStatus"/>
      <xs:element minOccurs="0" name="Subject_SA" nillable="true" type="AxdExtType_ZakatSubject_SA"/>
      <xs:element minOccurs="0" name="SyncCreatedByExternal" nillable="true" type="AxdExtType_SyncCreatedByExternal"/>
      <xs:element minOccurs="0" name="SyncEntityId" nillable="true" type="AxdExtType_SyncEntityId"/>
      <xs:element minOccurs="0" name="SyncLastTransId" nillable="true" type="AxdExtType_SyncTransId"/>
      <xs:element minOccurs="0" name="SyncVersion" nillable="true" type="AxdExtType_SyncVersion"/>
      <xs:element minOccurs="0" name="TaxGroupId" nillable="true" type="AxdExtType_TaxGroup"/>
      <xs:element minOccurs="0" name="Template" nillable="true" type="AxdEnum_NoYes"/>
      <xs:element minOccurs="0" name="Type" nillable="true" type="AxdEnum_ProjType"/>
      <xs:element minOccurs="0" name="URL" nillable="true" type="AxdExtType_URL"/>
      <xs:element minOccurs="0" name="ValidateProjCategory" nillable="true" type="AxdExtType_ProjValidateOption"/>
      <xs:element minOccurs="0" name="WIPProject" nillable="true" type="AxdExtType_ProjWipId"/>
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required"/>
    <xs:attribute name="action" type="AxdEnum_AxdEntityAction"/>
  </xs:complexType>
  <xs:simpleType name="AxdExtType_AssetId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Fixed asset number:Unique key for identification of fixed asset. The key is used when creating new assets.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjExternalItemId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Additional info:Customer/vendor identification of the item.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_NoYesId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_AmountCur">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Amount currency:Amount in currency.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Decimal">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_TransDate">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Date:Transaction date.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ZakatContractPeriod_SA">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Contract period:Enter the period for the contract.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdType_ExtCodeValue">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Value:Actual value of the related record according to the selected external code type.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdUnion_AxdExtType_CustAccount_AxdType_ExtCodeValue">
    <xs:union memberTypes="AxdExtType_CustAccount AxdType_ExtCodeValue"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_CustAccount">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Customer account:Customer account number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_AddressCity">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">City:City for ZIP/postal Code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_AddressStreet">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Street name:Enter the street name of the address.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="250"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AxdArray_AxdExtType_Dimension">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Channel:Channel number.
Department:Department number.
Product:Product number.
Partner activity code:Partner activity code number.
Region code:Region code number.
Project ID:Project ID number.
Affiliate:Affiliate number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="7" maxOccurs="7" name="element" type="AxdExtType_Dimension"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AxdExtType_Dimension">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US"/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_Addressing">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Address:Addressee - Enter address and ZIP/postal Code; the rest will be inserted if the postal code exists in the postal code table.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="250"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdUnion_AxdExtType_AddressCountryRegionId_AxdType_ExtCodeValue">
    <xs:union memberTypes="AxdExtType_AddressCountryRegionId AxdType_ExtCodeValue"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_AddressCountryRegionId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Country/region:Specifies default native country/region in connection with addresses.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdUnion_AxdExtType_AddressCountyId_AxdType_ExtCodeValue">
    <xs:union memberTypes="AxdExtType_AddressCountyId AxdType_ExtCodeValue"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_AddressCountyId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">County:Specifies a county within a state in the current country/region.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_CompanyName">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Company name:Specify name of the company.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdUnion_AxdExtType_AddressStateId_AxdType_ExtCodeValue">
    <xs:union memberTypes="AxdExtType_AddressStateId AxdType_ExtCodeValue"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_AddressStateId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">State:Identification of state.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdUnion_AxdExtType_AddressZipCodeId_AxdType_ExtCodeValue">
    <xs:union memberTypes="AxdExtType_AddressZipCodeId AxdType_ExtCodeValue"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_AddressZipCodeId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">ZIP/postal Code:Identify ZIP/postal Code district.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_Email">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">E-mail:Internet e-mail address.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjEndDate">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">End date:Date of project end.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_NumberSequenceFormat">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Format:Specify format.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjHeader">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Header:Should the project be a header project. On header project registrations cannot be entered.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjName">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Name:Name of project.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjParentId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Parent project:Identification of the parent project.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjGroupId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Project group:Group number that is used for reference.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Project:Project identification.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjInvoiceProjId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Project contract:Project from which invoicing is being carried out.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_ProjLedgerPosting">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Posting:Posting</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="GroupId"/>
      <xs:enumeration value="Categories"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_ProjLinePropertySearch">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Search direction:Search direction</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Project"/>
      <xs:enumeration value="Category"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjPriceGroupID">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Price group:Specify project price group.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_recId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Record-ID:Unique ID for the record in the database</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Int64"/>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Int64">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="-9223372036854775808"/>
      <xs:maxInclusive value="9223372036854775807"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_recVersion">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Record Version:Version of the record in the database</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Integer">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-2147483648"/>
      <xs:maxInclusive value="2147483647"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_RequireActivityExpenseForecast">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Expense:Require activity for expense forecast</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_RequireActivityExpenseTrx">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Expense:Require activity for expense journal</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_RequireActivityHourForecast">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Hour:Require activity for hour forecast</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_RequireActivityHourTrx">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Hour:Require activity for hour journal</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_RequireActivityItemForecast">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Item:Require activity for item forecast</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_RequireActivityItemTrx">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Item:Require activity for item journal</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjResponsible">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Project manager:Employee responsible for the project.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjResponsibleFinancial">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Project controller:Employee financially in charge of the project.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjResponsibleSales">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Sales manager:Employee sales in charge of the project.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjStartDate">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Start date:Starting date of project.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_ProjStatus">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Stage:Stage</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created"/>
      <xs:enumeration value="Estimated"/>
      <xs:enumeration value="Scheduled"/>
      <xs:enumeration value="InProcess"/>
      <xs:enumeration value="User1"/>
      <xs:enumeration value="User2"/>
      <xs:enumeration value="User3"/>
      <xs:enumeration value="Completed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ZakatSubject_SA">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Subject:Enter the subject of the project.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_SyncCreatedByExternal">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Created by External Application:Specifies whether the current record was created by an external integrated application</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_SyncEntityId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Entity ID:Unique identifier of an entity instance</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_GUID"/>
  </xs:simpleType>
  <xs:simpleType name="AxdType_GUID">
    <xs:restriction base="xs:string">
      <xs:minLength value="38"/>
      <xs:maxLength value="38"/>
      <xs:pattern value="({[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_SyncTransId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Transaction Id:Unique identifier of an entity transaction</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_GUID"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_SyncVersion">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Version:Version of an entity. This is a sequential number</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Int64"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_TaxGroup">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Sales tax group:Group of sales tax codes that can be calculated for sale and purchase.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_NoYes">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_ProjType">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Project type:Project type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="TimeMaterial"/>
      <xs:enumeration value="FixedPrice"/>
      <xs:enumeration value="Investment"/>
      <xs:enumeration value="Cost"/>
      <xs:enumeration value="Internal"/>
      <xs:enumeration value="Time"/>
      <xs:enumeration value="DEL_Summary"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_URL">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Internet address:WWW address for Internet homepage.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjValidateOption">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:Validate on this option.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="No"/>
      <xs:enumeration value="Yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ProjWipId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Estimate project:Identify estimate project.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>