src/main/resources/wsdl/snporequestservice_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SnPORequestService" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsp:Policy wsu:Id="BasicHttpBinding_SnPORequestService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http"/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services/Imports">
      <xsd:import schemaLocation="snporequestservice.xsd" namespace="http://schemas.microsoft.com/dynamics/2008/01/services"/>
      <xsd:import schemaLocation="snporequestservice_1_2_3_4.xsd" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
      <xsd:import schemaLocation="snporequestservice_1_2_3_4_5.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="snporequestservice_1.xsd" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList"/>
      <xsd:import schemaLocation="snporequestservice_1_2.xsd" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey"/>
      <xsd:import schemaLocation="snporequestservice_1_2_3_4_5_6.xsd"/>
      <xsd:import schemaLocation="snporequestservice_1_2_3.xsd" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/SnPORequest"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SnPORequestServiceDeleteRequest">
    <wsdl:part name="parameters" element="tns:SnPORequestServiceDeleteRequest"/>
  </wsdl:message>
  <wsdl:message name="SnPORequestService_delete_OutputMessage"/>
  <wsdl:message name="SnPORequestService_delete_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q1:AifFault" xmlns:q1="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="SnPORequestServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:SnPORequestServiceUpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="SnPORequestService_update_OutputMessage"/>
  <wsdl:message name="SnPORequestService_update_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q2:AifFault" xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="SnPORequestServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:SnPORequestServiceCreateRequest"/>
  </wsdl:message>
  <wsdl:message name="SnPORequestServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:SnPORequestServiceCreateResponse"/>
  </wsdl:message>
  <wsdl:message name="SnPORequestService_create_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q3:AifFault" xmlns:q3="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:message name="SnPORequestServiceReadRequest">
    <wsdl:part name="parameters" element="tns:SnPORequestServiceReadRequest"/>
  </wsdl:message>
  <wsdl:message name="SnPORequestServiceReadResponse">
    <wsdl:part name="parameters" element="tns:SnPORequestServiceReadResponse"/>
  </wsdl:message>
  <wsdl:message name="SnPORequestService_read_AifFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q4:AifFault" xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
  </wsdl:message>
  <wsdl:portType name="SnPORequestService">
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/delete" name="SnPORequestServiceDeleteRequest" message="tns:SnPORequestServiceDeleteRequest"/>
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/deleteResponse" message="tns:SnPORequestService_delete_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/deleteAifFaultFault" name="AifFaultFault" message="tns:SnPORequestService_delete_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/update" name="SnPORequestServiceUpdateRequest" message="tns:SnPORequestServiceUpdateRequest"/>
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/updateResponse" message="tns:SnPORequestService_update_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/updateAifFaultFault" name="AifFaultFault" message="tns:SnPORequestService_update_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/create" name="SnPORequestServiceCreateRequest" message="tns:SnPORequestServiceCreateRequest"/>
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/createResponse" name="SnPORequestServiceCreateResponse" message="tns:SnPORequestServiceCreateResponse"/>
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/createAifFaultFault" name="AifFaultFault" message="tns:SnPORequestService_create_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/read" name="SnPORequestServiceReadRequest" message="tns:SnPORequestServiceReadRequest"/>
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/readResponse" name="SnPORequestServiceReadResponse" message="tns:SnPORequestServiceReadResponse"/>
      <wsdl:fault wsaw:Action="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/readAifFaultFault" name="AifFaultFault" message="tns:SnPORequestService_read_AifFaultFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SnPORequestService" type="tns:SnPORequestService">
    <wsp:PolicyReference URI="#BasicHttpBinding_SnPORequestService_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/delete" style="document"/>
      <wsdl:input name="SnPORequestServiceDeleteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/update" style="document"/>
      <wsdl:input name="SnPORequestServiceUpdateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/create" style="document"/>
      <wsdl:input name="SnPORequestServiceCreateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SnPORequestServiceCreateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap:operation soapAction="http://schemas.microsoft.com/dynamics/2008/01/services/SnPORequestService/read" style="document"/>
      <wsdl:input name="SnPORequestServiceReadRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SnPORequestServiceReadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault name="AifFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SnPORequestService">
    <wsdl:port name="BasicHttpBinding_SnPORequestService" binding="tns:BasicHttpBinding_SnPORequestService">
      <soap:address location="http://vsclapdaxq04w.devqa.local/MicrosoftDynamicsAXAif50/snporequestservice.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>