src/main/resources/wsdl/snporequestservice_1_2_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/SnPORequest" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/dynamics/2008/01/documents/SnPORequest">
  <xs:element name="SnPORequest" type="AxdSnPORequest"/>
  <xs:complexType name="AxdSnPORequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="AxdEnum_XMLDocPurpose"/>
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="AxdExtType_dataAreaId"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bhnSNPORequest" type="AxdEntity_bhnSNPORequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AxdEnum_XMLDocPurpose">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Product:Product</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Original"/>
      <xs:enumeration value="Duplicate"/>
      <xs:enumeration value="Proforma"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_dataAreaId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Company:ID for an area of data</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_AxdEntityAction">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">AxdEntityAction:AxdEntityAction</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="create"/>
      <xs:enumeration value="update"/>
      <xs:enumeration value="replace"/>
      <xs:enumeration value="delete"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AxdEntity_bhnSNPORequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Action" nillable="true" type="AxdEnum_ActionPOR"/>
      <xs:element minOccurs="0" name="AmountApproved" nillable="true" type="AxdExtType_PurchLineAmount"/>
      <xs:element minOccurs="0" name="ApprovalDateTime" nillable="true" type="AxdType_DateTime"/>
      <xs:element minOccurs="0" name="ApprovalSource" nillable="true" type="AxdExtType_ApprovalSource"/>
      <xs:element minOccurs="0" name="ApproverName" nillable="true" type="AxdExtType_Name"/>
      <xs:element minOccurs="0" name="ClosedOpen" nillable="true" type="AxdEnum_PORClosedOpen"/>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="AxdUnion_AxdExtType_CustCurrencyCode_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="PorId" nillable="true" type="AxdExtType_PORequestId"/>
      <xs:element minOccurs="0" name="RecId" nillable="true" type="AxdExtType_recId"/>
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="AxdExtType_recVersion"/>
      <xs:element minOccurs="0" name="RequestorName" nillable="true" type="AxdExtType_Name"/>
      <xs:element minOccurs="0" name="VendorId" nillable="true" type="AxdUnion_AxdExtType_VendAccount_AxdType_ExtCodeValue"/>
      <xs:element minOccurs="0" name="VendorName" nillable="true" type="AxdExtType_VendName"/>
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required"/>
    <xs:attribute name="action" type="AxdEnum_AxdEntityAction"/>
  </xs:complexType>
  <xs:simpleType name="AxdEnum_ActionPOR">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW"/>
      <xs:enumeration value="UPDATE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_PurchLineAmount">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Net amount:Line amount (incl. discount).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Decimal">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:complexType name="AxdType_DateTime">
    <xs:simpleContent>
      <xs:extension base="xs:dateTime">
        <xs:attribute name="localDateTime" type="xs:dateTime"/>
        <xs:attribute name="timezone" type="AxdEnum_Timezone"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AxdEnum_Timezone">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="GMTMINUS1200INTERNATIONALDATELINEWEST"/>
      <xs:enumeration value="GMTMINUS1100MIDWAYISLAND_SAMOA"/>
      <xs:enumeration value="GMTMINUS1000HAWAII"/>
      <xs:enumeration value="GMTMINUS0900ALASKA"/>
      <xs:enumeration value="GMTMINUS0800PACIFICTIME"/>
      <xs:enumeration value="GMTMINUS0800TIJUANA_BAJACALIFORNIA"/>
      <xs:enumeration value="GMTMINUS0700ARIZONA"/>
      <xs:enumeration value="GMTMINUS0700MOUNTAINTIME"/>
      <xs:enumeration value="GMTMINUS0700CHIHUAHUA_LAPAZ_MAZATLAN"/>
      <xs:enumeration value="GMTMINUS0600CENTRALAMERICA"/>
      <xs:enumeration value="GMTMINUS0600CENTRALTIME"/>
      <xs:enumeration value="GMTMINUS0600GUADALAJARA_MEXICOCITY"/>
      <xs:enumeration value="GMTMINUS0600SASKATCHEWAN"/>
      <xs:enumeration value="GMTMINUS0500BOGOTA_LIMA_QUITO_RIOBRANCO"/>
      <xs:enumeration value="GMTMINUS0500EASTERNTIME"/>
      <xs:enumeration value="GMTMINUS0500INDIANA"/>
      <xs:enumeration value="GMTMINUS0400ATLANTICTIME"/>
      <xs:enumeration value="GMTMINUS0400LAPAZ"/>
      <xs:enumeration value="GMTMINUS0400MANAUS"/>
      <xs:enumeration value="GMTMINUS0400SANTIAGO"/>
      <xs:enumeration value="GMTMINUS0430CARACAS"/>
      <xs:enumeration value="GMTMINUS0330NEWFOUNDLAND"/>
      <xs:enumeration value="GMTMINUS0300BRASILIA"/>
      <xs:enumeration value="GMTMINUS0300BUENOSAIRES_GEORGETOWN"/>
      <xs:enumeration value="GMTMINUS0300GREENLAND"/>
      <xs:enumeration value="GMTMINUS0300MONTEVIDEO"/>
      <xs:enumeration value="GMTMINUS0200MIDATLANTIC"/>
      <xs:enumeration value="GMTMINUS0100AZORES"/>
      <xs:enumeration value="GMTMINUS0100CAPEVERDIS"/>
      <xs:enumeration value="GMT_CASABLANCA_MONTROVIA_REYKJAVIK"/>
      <xs:enumeration value="GMT_DUBLIN_EDINBURGH_LISBON_LONDON"/>
      <xs:enumeration value="GMTPLUS0100_AMSTERDAM_BERLIN_BERN_ROME"/>
      <xs:enumeration value="GMTPLUS0100BELGRADE_BRATISLAVA_BUDAPEST"/>
      <xs:enumeration value="GMTPLUS0100BRUSSELS_COPENHAGEN_MADRID"/>
      <xs:enumeration value="GMTPLUS0100SARAJEVO_SKOPJE_WARSAW_ZAGREB"/>
      <xs:enumeration value="GMTPLUS0100WESTCENTRALAFRICA"/>
      <xs:enumeration value="GMTPLUS0200AMMAN"/>
      <xs:enumeration value="GMTPLUS0200ATHENS_BUCHAREST_ISTANBUL"/>
      <xs:enumeration value="GMTPLUS0200BEIRUT"/>
      <xs:enumeration value="GMTPLUS0200MINSK"/>
      <xs:enumeration value="GMTPLUS0200CAIRO"/>
      <xs:enumeration value="GMTPLUS0200HARARE_PRETORIA"/>
      <xs:enumeration value="GMTPLUS0200HELSINKI_KYIV_RIGA_VILNIUS"/>
      <xs:enumeration value="GMTPLUS0200JERUSALEM"/>
      <xs:enumeration value="GMTPLUS0200WINDHOEK"/>
      <xs:enumeration value="GMTPLUS0300BAGHDAD"/>
      <xs:enumeration value="GMTPLUS0300KUWAIT_RIYADH"/>
      <xs:enumeration value="GMTPLUS0300MOSCOW_STPETERSBURG_VOLGOGRAD"/>
      <xs:enumeration value="GMTPLUS0300NAIROBI"/>
      <xs:enumeration value="GMTPLUS0300TBILISI"/>
      <xs:enumeration value="GMTPLUS0330TEHRAN"/>
      <xs:enumeration value="GMTPLUS0400ABUDHABI_MUSCAT"/>
      <xs:enumeration value="GMTPLUS0400BAKU"/>
      <xs:enumeration value="GMTPLUS0400CAUCASUSSTANDARDTIME"/>
      <xs:enumeration value="GMTPLUS0400YEREVAN"/>
      <xs:enumeration value="GMTPLUS0430KABUL"/>
      <xs:enumeration value="GMTPLUS0500EKATERINBURG"/>
      <xs:enumeration value="GMTPLUS0500ISLAMABAD_KARACHI_TASHKENT"/>
      <xs:enumeration value="GMTPLUS0530CHENNAI_KOLKATA_MUMBAI"/>
      <xs:enumeration value="GMTPLUS0530SRIJAYAWARDENEPURA"/>
      <xs:enumeration value="GMTPLUS0545KATHMANDU"/>
      <xs:enumeration value="GMTPLUS0600ALMATY_NOVOSIBIRSK"/>
      <xs:enumeration value="GMTPLUS0600ASTANA_DHAKA"/>
      <xs:enumeration value="GMTPLUS0630_YANGON"/>
      <xs:enumeration value="GMTPLUS0700_BANGKOK_HANOI_JAKARTA"/>
      <xs:enumeration value="GMTPLUS0700KRASNOYARSK"/>
      <xs:enumeration value="GMTPLUS0800BEIJING_CHONGQING_HONGKONG"/>
      <xs:enumeration value="GMTPLUS0800IRKUTSK_ULAANBATAAR"/>
      <xs:enumeration value="GMTPLUS0800KUALALUMPUR_SINGAPORE"/>
      <xs:enumeration value="GMTPLUS0800PERTH"/>
      <xs:enumeration value="GMTPLUS0800TAIPEI"/>
      <xs:enumeration value="GMTPLUS0900OSAKA_SAPPORO_TOKYO"/>
      <xs:enumeration value="GMTPLUS0900SEOUL"/>
      <xs:enumeration value="GMTPLUS0900YAKUTSK"/>
      <xs:enumeration value="GMTPLUS0930ADELAIDE"/>
      <xs:enumeration value="GMTPLUS0930DARWIN"/>
      <xs:enumeration value="GMTPLUS1000BRISBANE"/>
      <xs:enumeration value="GMTPLUS1000CANBERRA_MELBOURNE_SYDNEY"/>
      <xs:enumeration value="GMTPLUS1000GUAM_PORTMORESBY"/>
      <xs:enumeration value="GMTPLUS1000HOBART"/>
      <xs:enumeration value="GMTPLUS1000VLADIVOSTOK"/>
      <xs:enumeration value="GMTPLUS1100MAGADAN_SOLOMONIS"/>
      <xs:enumeration value="GMTPLUS1200AUCKLAND_WELLINGTON"/>
      <xs:enumeration value="GMTPLUS1200FIJI_KAMCHATKA_MARSHALLIS"/>
      <xs:enumeration value="GMTPLUS1300NUKU_ALOFA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_ApprovalSource">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_Name">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Name:Name.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdEnum_PORClosedOpen">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Closed"/>
      <xs:enumeration value="Open"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdType_ExtCodeValue">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Value:Actual value of the related record according to the selected external code type.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdUnion_AxdExtType_CustCurrencyCode_AxdType_ExtCodeValue">
    <xs:union memberTypes="AxdExtType_CustCurrencyCode AxdType_ExtCodeValue"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_CustCurrencyCode">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Currency:Current currency code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_PORequestId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">:</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_recId">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Record-ID:Unique ID for the record in the database</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Int64"/>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Int64">
    <xs:restriction base="xs:long">
      <xs:minInclusive value="-9223372036854775808"/>
      <xs:maxInclusive value="9223372036854775807"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_recVersion">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Record Version:Version of the record in the database</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AxdType_Integer"/>
  </xs:simpleType>
  <xs:simpleType name="AxdType_Integer">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="-2147483648"/>
      <xs:maxInclusive value="2147483647"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdUnion_AxdExtType_VendAccount_AxdType_ExtCodeValue">
    <xs:union memberTypes="AxdExtType_VendAccount AxdType_ExtCodeValue"/>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_VendAccount">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Vendor account:Vendor account number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AxdExtType_VendName">
    <xs:annotation>
      <xs:documentation xml:lang="EN-US">Name:Name of vendor.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>